.error {
  color: red;
  display: none;
}

.results img {
  max-width: 25%;
}

.results {
  text-align: center;
}

.image {
  height: 200px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://via.placeholder.com/1000");
}
